body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
  padding: 0;
  }
  .form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .form-box {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0;
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-items: center;
    max-width: 400px;
    
    
  }
  
  h1 {
    font-weight: 500;
    color: #0467d0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
  }

form label {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;

}

  input {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input::placeholder{
    opacity: 0.7;
    font-size: 12px;
  }
  button {
    width: 30%;
    border-radius: 8px;
    align-self: end;
    background: #fff;
    color: #0467d0;
    cursor: pointer;
    border: solid 2px #0467d0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
  }


  input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  
  button:hover {
    opacity: 0.6;
  }
  
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

